@page "/posts"
@using ClienteBlazorWASM.Modelos;
@using ClienteBlazorWASM.Servicios.IServicio;
@inject IPostServicio postsServicio;


<h1 class="text-center">
    Lista de Posts
</h1>
<div class="card">
    <div class="row">
        <div class="col-7">
            <h4 class="card-title text-dark ">Lista de Posts</h4>
        </div>
        <div class="col-3 offset-2">
            <NavLink href="crear-post" class="btn btn-primary"><i class="bg-info bi-plus-circle-fill"></i>Nuevo Post</NavLink>
        </div>
    </div>
</div>
<div class="card-body">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Descripción</th>
                <th>Etiquetas</th>
                <th>Imagen</th>
                <th>Fecha de Creación</th>
                <th>Fecha de Actualización</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (Posts.Any())
            {
                @foreach(var post in Posts)
                {
                    <tr>
                        <td>@post.Id</td>
                        <td>@post.Titulo</td>
                        <td>@post.Descripcion</td>
                        <td>@post.Etiquetas</td>
                        <td>@post.RutaImagen</td>
                        <td>@post.FechaCreacion</td>
                        <td>@post.FechaActualizacion</td>
                        <td>
                            <NavLink href="@($"editar-post/{post.Id}")" class="btn btn-success"><i class="bg bi-gear-fill"></i></NavLink>
                            <button class="btn btn-danger" @onclick="()=>ManejadorOnBorrar(post.Id)"><i class="bg bi-trash-fill"></i></button>
                        </td>


                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">Cargando...</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    public IEnumerable<Post> Posts { get; set; } = new List<Post>();
    protected override async Task OnInitializedAsync()
    {
        Posts = await postsServicio.GetPosts();
    }
    public void ManejadorOnBorrar(int id)
    {
        
    }
}
